html {
    scroll-behavior: smooth;
}

.hero {
    align-items: center;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100px;
    padding: 200px 0 100px 0;
    text-align: left;
    color: black;
  }
  
  .content {
    margin-bottom: 60px;
  }

  .h1 {
    font-size: 64px;
    font-weight: bold;
  }
  
  p {
    font-size: 18px;
  }

  .arrow {
    display: inline-block;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
    width: 40px; height: 40px;
    transform: rotate(45deg);
  }

  div.arrow:hover {
    border-right: 6px solid #7D71F2;
    border-bottom: 6px solid #7D71F2;
  }